@font-face {
    font-family: CalSans;
    src:url(/Font/CalSans-Regular.ttf);
}
:root{
    --ws-d1: hsl(343, 90%, 81%);
    --ws-d2: hsl(339, 94%, 93%);
}
body {
    font-family: CalSans;
    color: whitesmoke;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/main-icon.webp); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: blur(30px);
}
main {
    margin-left: 2cm;
    margin-right: 2cm;
    flex: 1; 
}
@media (min-width: 1024px){
  main {
    margin-left: 10cm;
    margin-right: 10cm;
  } 
  body {
    background-size: cover, calc(100% - 6rem); 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
  }
}
.titleSpan{
    text-decoration: none;
    color: hsl(331, 89%, 68%);
    transition: color 0.25s;
}
.titleSpan:hover{color: var(--ws-d1);}
.titleSpan:active{color: var(--ws-d2);}
a{color: var(--ws-d2);}
a:visited{color: hsl(331, 89%, 68%);}
.socialBtns{
    font-family: CalSans;
    background-color: hsl(32, 84%, 88%);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    font-size: 1.1em;
    transition: background-color 0.25s;
}
.socialBtns:hover{
    background-color: var(--ws-d1);
}
.socialBtns:active{
    background-color: var(--ws-d2);
}
footer {
    cursor: default;
    color: whitesmoke;
    text-align: center;
    padding: 24px 16px; 
    width: 100%; 
    box-sizing: border-box;
    font-family: CalSans;
    font-size: 14px;
    margin-top: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.about-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#dc-avatar{
    margin: 20px auto;
    border-radius: 50px;
    width: 220px;
    height: 220px;
    object-fit: cover;
}
#dc-avatar:hover{
    z-index: 1;
    border-radius: 20px; 
    transition: border-radius 0.3s ease; 
    transform: scale(1.1); 
    transition:  0.5s ease; 
    filter: brightness(1); 
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5); 
}
#dc-avatar:not(:hover){
    z-index: 0;
    transition: border-radius 0.3s ease; 
    transform: scale(1);
    transition: 0.25s ease;
}
@media (max-width: 1023px){
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    
}