@font-face {
    font-family: CalSans;
    src:url(/Font/CalSans-Regular.ttf);
}
:root{
    --ws-d1: hsl(343, 90%, 81%);
    --ws-d2: hsl(339, 94%, 93%);
    --ws-d3: hsl(316, 16%, 28%);
    --ws-d4: hsl(331, 89%, 68%);
    --ws-d5: hsl(32, 84%, 88%);
    --ws-d6: hsl(316, 16%, 48%);
    --ws-d7: hsl(316, 16%, 18%);
}
body {
    font-family: CalSans;
    color: whitesmoke;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/main-background.webp); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: blur(30px);
}
main {
    margin-left: 2cm;
    margin-right: 2cm;
    flex: 1; 
}
main h1 {
    font-size: 80px;
}
main h3 {
    font-size: 20px;
}
@media (min-width: 1024px){
  main {
    margin-left: 10cm;
    margin-right: 10cm;
  } 
  body {
    background-size: cover, calc(100% - 6rem); 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
  }
}
.title-span{
    text-decoration: none;
    color: var(--ws-d4);
    transition: color 0.25s;
}
.title-span:hover{color: var(--ws-d1);}
.title-span:active{color: var(--ws-d2);}
a{color: var(--ws-d2);}
a:visited{color: var(--ws-d4);}
.social-btns{
    font-family: CalSans;
    background-color: var(--ws-d5);
    color: var(--ws-d3);
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 5px;
    font-size: 1.1em;
    transition: background-color 0.25s;
}
.social-btns:hover{
    background-color: var(--ws-d1);
    border-radius: 10px;
    transition: border-radius 0.25s, background-color 0.25s, color 0.25s ease;
}
.social-btns:not(:hover){
    border-radius: 14px;
    transition: border-radius 0.25s, background-color 0.25s, color 0.25s ease;
}
.social-btns:active{
    background-color: var(--ws-d3);
    color: var(--ws-d2);
}
.about-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* .contact-form-container {
    border: 2px green solid;
    padding: 20px;
} */
#dc-avatar{
    margin: 20px auto;
    border-radius: 50px;
    width: 220px;
    height: 220px;
    object-fit: cover;
}
#dc-avatar:hover{
    z-index: 1;
    border-radius: 20px; 
    transition: border-radius 0.3s ease; 
    transform: scale(1.1); 
    transition:  0.5s ease; 
    filter: brightness(1); 
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5); 
}
#dc-avatar:not(:hover){
    z-index: 0;
    transition: border-radius 0.3s ease; 
    transform: scale(1);
    transition: 0.25s ease;
}
@media (max-width: 1023px){
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    body{    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/main-background-phone.webp); 
}
    
}
.contact-form-input, .contact-form-textarea{
    background-color: var(--ws-d2);
    border-radius: 10px;
    border: 1px solid var(--ws-d3);
    color: var(--ws-d3);
    padding: 10px;  
    font-family: inherit;
    transition: all 0.25s ease;
    resize: none;
}
#contact-form-btn{
    align-self: flex-end;
    background-color: var(--ws-d1);
    color: var(--ws-d2);
    font-weight: bold;
    border: solid var(--ws-d3) 2px;
    padding: 10px 16px;
    border-radius: 14px;
    cursor: pointer;
}
#contact-form-btn:hover{
    background-color: var(--ws-d2);
    color: var(--ws-d3);
    border-radius: 10px;
    transition: border-radius 0.25s, background-color 0.25s, color 0.25s ease;
}
#contact-form-btn:not(:hover){
    background-color: var(--ws-d1);
    color: var(--ws-d2);
    border-radius: 14px;
    transition: border-radius 0.25s, background-color 0.25s, color 0.25s ease;
}
.game-profile-button-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.buttons {
    padding: 0;
    margin: 0;
    gap: 15px; 
    list-style: none;
    flex-wrap: wrap; 
    display: flex;
}
.buttons button {
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: var(--ws-d3); 
    display: flex;
    cursor: pointer;
    border: 1px solid var(--ws-d7);
    font-family: 'CalSans', sans-serif;
    transition: all 0.25s ease-in-out;
    color: whitesmoke;
}
.buttons button:not(:hover) {
    border-radius: 14px;
}
.buttons button:hover {
    background-color: var(--ws-d6);
    transform: translateY(-2px); 
    border-color: var(--ws-d7);
    border-radius: 10px;
}
.buttons button:active {
    transform: translateY(0);
}
.buttons a {
    text-decoration: none;
}
.btn-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: whitesmoke;
    display: inline-block;
}
.buttons h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}